<h1>"sessions#new"</h1>
<%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.submit "Log in" %>
    <% end %>
<p>Already have account?<%= link_to "Log in", login_path %></p>
<p>New account <%= link_to "Sign up", new_user_path %></p>
    