<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
      <%= form.label :icon %>    

        <%= radio_button_tag(:icon, "fa fa-phone") %> 
        <i class="fa fa-phone icon-size-group ml-5"></i>
       
        <%= radio_button_tag(:icon, "fa fa-shopping") %> 
        <i class="fa fa-shopping-bag icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-taxi") %> 
        <i class="fa fa-taxi icon-size-group ml-3"></i>
      
        <%= radio_button_tag(:icon, "fa fa-tree") %> 
        <i class="fa fa-tree icon-size-group ml-3"></i>
  
         <%= radio_button_tag(:icon, "fa fa-percent") %>  
        <i class="fa fa-percent icon-size-group ml-3"></i>

         <%= radio_button_tag(:icon, "fa fa-graduation-cap") %>  
        <i class="fa fa-graduation-cap icon-size-group ml-3"></i>
      
         <%= radio_button_tag(:icon, "fa fa-birthday-cake") %> 
        <i class="fa fa-birthday-cake icon-size-group ml-3"></i>
     
        <%= radio_button_tag(:icon, "fa fa-bed") %> 
        <i class="fa fa-bed icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-cutlery") %> 
        <i class="fa fa-cutlery icon-size-group ml-3"></i>

        <%= radio_button_tag(:icon, "fa fa-amazon") %> 
        <i class="fa fa-amazon icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-shopping-cart") %> 
        <i class="fa fa-shopping-cart icon-size-group ml-3"></i>
      
         <%= radio_button_tag(:icon, "fa fa-bus") %> 
        <i class="fa fa-bus icon-size-group ml-3"></i>
 </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
