<div class="icons-group">
  <%= form.radio_button :star, '1' %>
  <%= form.label :star, '☆', value: '1' %>

  <%= form.radio_button :star, '2' %>
  <%= form.label :star, '☆', value: '2' %>

  <%= form.radio_button :star, '3' %>
  <%= form.label :star, '☆', value: '3' %>

  <%= form.radio_button :star, '4' %>
  <%= form.label :star, '☆', value: '4' %>

  <%= form.radio_button :star, '5' %>
  <%= form.label :star, '☆', value: '5' %>

  <%= form.radio_button :star, '6' %>
  <%= form.label :star, '☆', value: '6' %>
  </div>
<div class="icons-group">

  <%= form.radio_button :star, '7' %>
  <%= form.label :star, '☆', value: '7' %>

  <%= form.radio_button :star, '8' %>
  <%= form.label :star, '☆', value: '8' %>

  <%= form.radio_button :star, '9' %>
  <%= form.label :star, '☆', value: '9' %>

  <%= form.radio_button :star, '10' %>
  <%= form.label :star, '☆', value: '10' %>

  <%= form.radio_button :star, '11' %>
  <%= form.label :star, '☆', value: '11' %>

  <%= form.radio_button :star, '12' %>
  <%= form.label :star, '☆', value: '12' %>
</div>
<div class="icons-group">
      
      
       <%= radio_button_tag(:icon, "fa fa-phone ") %>    
        <i class="fa fa-phone icon-size-group ml-5"></i>
       
     
        <%= radio_button_tag(:icon, "fa fa-shopping-bag") %>    
        <i class="fa fa-shopping-bag icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-taxi") %>    
        <i class="fa fa-taxi icon-size-group ml-3"></i>
      
        <%= radio_button_tag(:icon, "fa fa-tree") %>    
        <i class="fa fa-tree icon-size-group ml-3"></i>
  
        <%= radio_button_tag(:icon, "fa fa-percent") %>    
        <i class="fa fa-percent icon-size-group ml-3"></i>
     
        <%= radio_button_tag(:icon, "fa fa-graduation-cap") %>    
        <i class="fa fa-graduation-cap icon-size-group ml-3"></i>

          </div>
<div class="icons-group">
      
         <%= radio_button_tag(:icon, "fa fa-birthday-cake") %>    
        <i class="fa fa-birthday-cake icon-size-group ml-3"></i>
     
        <%= radio_button_tag(:icon, "fa fa-bed") %>    
        <i class="fa fa-bed icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-cutlery") %>    
        <i class="fa fa-cutlery icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-amazon") %>    
        <i class="fa fa-amazon icon-size-group ml-3"></i>
       
        <%= radio_button_tag(:icon, "fa fa-shopping-cart") %>    
        <i class="fa fa-shopping-cart icon-size-group ml-3"></i>
      
        <%= radio_button_tag(:icon, "fa fa-bus") %>    
        <i class="fa fa-bus icon-size-group ml-3"></i>
      </div>

 