 <div class="text-center">
    <div class="display-4 py-2 header text-bold">
       All Groups
    </div>
    <div class="mt-3">
       <% @groups.each do |group| %>
         <span class="mx-3 h4">
           <%= link_to group.name.capitalize, group %><br>
         </span>
         <i class= "<%= group.icon %> fa-3x mr-5 text-warning" ></i>
         <span class="creat_date mx-3">
           <%= group.created_at %>
          </span>
         <% if current_user.id == group.user.id %> 
          <i class="fa fa-trash fa-2x mx-5 text-warning">
             <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          </i>
          <% end %>
           <hr>
           <% end %>
<br>
     </div>
 
<%= link_to 'NEW GROUP', new_group_path, class: "btn btn-lg btn-block btn-success btn-outline-light" %>
  
  <%= link_to user_path(current_user) do %> 
            <span class="button text-success">
             <i class="fa fa-backward fa-3x  mt-3" aria-hidden="true"></i>
            </span>
          <%end %>  
</div>