<div class="container text-center">

<p id="notice"><%= notice %></p>
 <h2>"<%= @group.name %>"</h2>
<p>
  <strong>Created at:</strong>
  <%= @group.created_at %>
</p>
 
<% if @group.transactions.any? %>
<p>All Transactions in <%= @group.name %></p>
  <% @group.transactions.each do |transaction| %>
 <%= link_to transaction do %>
        <p><%= transaction.name.capitalize %></p>
         <% end %>
        <p>  by <strong><%= transaction.user.name %></strong></p> 
         <p>$<%= transaction.amount %></p><br>
      <p><%= transaction.created_at %>
    <%= link_to "Show this transaction", transaction %> |
      <% if current_user.id == transaction.user.id %>
      <i class="fa fa-edit">
        <%= link_to "Edit", edit_transaction_path(transaction) %> 
        </i>|
        <i class="fa fa-trash">
        <%= link_to "Destroy", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
        </i>
      <% end %>
  <% end %>
  <% else %>
  <p>There are no transactions for this group.</p>
  <% end %>
<i class="fa fa-edit">
<%= link_to 'Edit group', edit_group_path(@group) %> 
</i>|
<i class="fa fa-backward">
<%= link_to 'Back to Groups list', groups_path %>
</i>
</div>