
<h1>"user#show"</h1>
<p id="notice"><%= notice %></p>
<p>
 
 <h2>
<%= user_gravatar @user %>
 <%= @user.name %>
 </h2> 
</p>
<p>
  <a href="#">Account Settings<a>
  <%= link_to 'All Transactions', transactions_path, class: "btn btn-success" %>
  <%= link_to 'AllExternal Transactions', external_path, class: "btn btn-success" %>
  <%= link_to 'All Groups', groups_path, class: "btn btn-success" %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
