 <div class="display-4 py-2 header text-bold">
    <%= @user.name %>
   </div>
<div class="container text-center h3">


<p id="notice"><%= notice %></p>
<p>
 
 <div class="my-5">
    <%= user_gravatar @user , size: 150 %><br>
 </div> 
   <div class="user_show">
  <%= link_to 'Transactions', transactions_path, class: "btn btn-lg btn-block btn-success text-uppercase" %><br>
  <%= link_to 'External Transactions', external_path, class: "btn btn-lg btn-block btn-success text-uppercase" %><br>
  <%= link_to 'Groups', groups_path, class: "btn btn-lg btn-block btn-success text-uppercase" %><br>
</div>
<div class="mt-3 display-6 text-white">

<i class="fa fa-backward text-primary"></i>
<%= link_to 'BACK/All Users', users_path %>   <!-- root_path -->

</div>
</div>
