<%= link_to "Add New External Transaction", new_external_transaction_path %>

<h1>External Transactions</h1>

 <% @external_transactions.first(1).each do |external_transaction| %>
    <p>$<%= external_transaction.total_ex %></p>
    <% end %>


    <% @external_transactions.each do |external_transaction| %>
         <%= link_to external_transaction do %>
     <% end %>


         <p>$<%= external_transaction.amount %></p><br>
        <%= link_to 'Show', external_transaction %>
        <%= link_to 'Edit', edit_external_transaction_path(external_transaction) %>
       <%= link_to 'Destroy', external_transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <% end %>
  

<br>

<%= link_to 'New External Transaction', new_external_transaction_path %>
