<p id="notice"><%= notice %></p>

<h1>External Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_transactions.each do |external_transaction| %>
      <tr>
        <td><%= link_to 'Show', external_transaction %></td>
        <td><%= link_to 'Edit', edit_external_transaction_path(external_transaction) %></td>
        <td><%= link_to 'Destroy', external_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External Transaction', new_external_transaction_path %>
