<p>
  <strong>Name:</strong>
  <%= @external_transaction.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @external_transaction.amount %>
</p>

      <p><%= @external_transaction.created_at.strftime("%B %d %Y, %l:%M%P") %></p>

<%= link_to 'Edit', edit_external_transaction_path(@external_transaction) %> |
<%= link_to 'Back', external_transactions_path %>
