<div class="text-center">
      <div class="display-4 py-2 header text-bold">
         External Transactions
     </div>
     <p>
        Total amount: $ <%= @external_total %>
     </p>
     <p>
        <% @external_transactions.each do |transaction| %>
   
              <p> <%=link_to transaction.name %> </p>
              <p>$<%= transaction.amount %></p>
              <p><%= transaction.created_at %></p>
              <br>
              <i class="fa fa-edit">
              <%= link_to "Edit", edit_transaction_path(transaction) %></i>  |
              <i class="fa fa-trash">
              <%= link_to "Delete", transaction_path(transaction), data: {confirm: "Are you sure?"}, :method => :delete %>
              </i>
        <br> <br>
         <hr><hr>
    <% end %>
     <br> 
    
  <p>
 

  <%= link_to "Add new", new_transaction_path , :class => "btn btn-success" %>
</div>