<div class="text-center">
  <div class="display-3 py-2 header text-bold">
     <span>
         Transactions
         </span><br>
     <span class="h5 text-uppercase">Total amount:
        <% @transactions.first(1).each do |transaction| %>
          <span class="h4 font-weight-bold"> $<%= transaction.total_transaction %></span>
            <% end %>
     </span>
  </div>
  <table class="table table-striped h4">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
     <tr>
        <td></td>
        <td><%= link_to transaction do %>
               <%= transaction.name.capitalize %><br>
            <% end %></td>
        <td>$<%= transaction.amount %></td>
        <td><%= transaction.created_at%></td>
        <td> <% if current_user.id == transaction.user.id%>
            
               <i class="fa fa-trash fa-2x  text-warning">
               <%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
               </i>
        </td>
            <% end %>
     </tr>
     <% end %>
  </tbody>
     
</table>
</div>
<%= link_to 'Add Transaction', new_transaction_path, class: "btn btn-lg btn-block btn-success" %>
 <%= link_to user_path(current_user) do %> 
            <span class="button text-warning">
             <i class="fa fa-backward fa-2x  mt-3" aria-hidden="true"></i>
            </span>
          <%end %>  
</div>