<%= link_to 'New Transaction', new_transaction_path %>

<h1>Transactions</h1>

    <% @transactions.first(1).each do |transaction| %>
      <p>$<%= transaction.total_transaction %></p>
    <% end %>

   <% @transactions.each do |transaction| %>

    <%= transaction.name %><br>
      <%= transaction.created_at.strftime("%B %d %Y, %l:%M%P") %>
       <p>$<%= transaction.amount %></p>
       <%= link_to 'Show', transaction %>
        <%= link_to 'Edit', edit_transaction_path(transaction) %>
       <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <% end %>
  

<%= link_to 'New Transaction', new_transaction_path %>
