<div class="container text-center">
<%= link_to 'Add New', new_transaction_path %>

<h1>Transactions</h1>

    <% @transactionss.each do |transaction| %>
      <p><strong>Total amount: $<%= transaction.total_transaction %></strong></p>
    <% end %>

   <% @transactions.each do |transaction| %>
    <%= link_to transaction do %>
    <%= transaction.name.capitalize %><br>
    <% end %>
      <p>$<%= transaction.amount %></p>
      <%= transaction.created_at%><br>

       <% if current_user.id == transaction.user.id%>
       <i class="fa fa-edit">
        <%= link_to 'Edit', edit_transaction_path(transaction) %>
        </i> |
        <i class="fa fa-trash">
        <%= link_to '', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
      </i>
    <% end %>
   <br> <hr><hr>
  <% end %>

<%= link_to 'Add new', new_transaction_path, class: "btn btn-lg btn-success" %>
</div>