<div class="text-center">
  <div class="display-4 py-2 header text-bold">
     <span>
         Transactions
      </span><br>
     <span>Total amount:
        <% @transactions.first(1).each do |transaction| %>
          <strong> $<%= transaction.total_transaction %></strong>
            <% end %>
     </span>
  </div>
   <% @transactions.each do |transaction| %>
   <span class="h3">
    <%= link_to transaction do %>
    <%= transaction.name.capitalize %>
    </span><br>
    <% end %>
      <span>$<%= transaction.amount %></span>
      <%= transaction.created_at%><br>

       <% if current_user.id == transaction.user.id%>
       <i class="fa fa-edit fa-2x  text-warning">
        <%= link_to '', edit_transaction_path(transaction) %>
        </i> ||
        <i class="fa fa-trash fa-2x  text-warning">
        <%= link_to '', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
      </i>
    <% end %>
   <br> <hr><hr>
  <% end %>

<%= link_to 'Add new', new_transaction_path, class: "btn btn-lg btn-success" %>
</div>