<div class="text-center">
<p id="notice"><%= notice %></p>
<div class="h4 py-2 header text-bold">
         <span> DETAILS
         </span><br>
         </div>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Total payment: </strong>
  $<%= @transaction.amount %>
</p>

<p><%= @transaction.created_at %></p>
<i class="fa fa-edit fa-2x mx-3 text-warning"> </i>
<%= link_to 'Edit', edit_transaction_path(@transaction) %> ||

<i class="fa fa-backward fa-2x mx-3 text-warning">
<%= link_to 'Back', transactions_path %>
</i>
</div>