<div class="container text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Amount : </strong>
  $<%= @transaction.amount %>
</p>

<p><%= @transaction.created_at %></p>
<i class="fa fa-edit">
<%= link_to 'Edit', edit_transaction_path(@transaction) %> </i> |

<i class="fa fa-backward">
<%= link_to 'Back', transactions_path %>
</i>
</div>