<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurTransactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= link_to "GroupOurTransactions", root_path %>
    <% if logged_in? %>
                <%= link_to current_user.name, user_path(User.find(session[:user_id])) %> |
                <%= link_to "Log out", logout_path, method: :delete %>
         <% else %>
             <%= link_to "Log in", login_path %> |
              <%= link_to "Sign up", signup_path %>
    <% end %> 
    <%= yield %>
  </body>
</html>
